# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/MissionArray/.vs/MissionArray
/MissionManagement/.vs/MissionManagement
/MissionManagement/x64/Debug
/MissionShape/.vs/MissionShape
/MissionShape/x64/Debug
/MissionString/.vs/MissionString
/MissionString/x64/Debug
/MissionTemplateFunc/.vs/MissionTemplateFunc
/MissionTemplateFunc/x64/Debug
